
@model ProdCatViewModel

@{
    string Action;
    if (Model.Product == null)
    {
        Action = "Create";
        ViewData["Title"] = "Add Product";

    }
    else
    {
        Action = "Edit";
        ViewData["Title"] = "Edit Product";
    }
}

<h1>@ViewData["Title"]</h1>

<br />



<!-- add Item -->
<div class="d-flex container">
    <form method="post" enctype="multipart/form-data">
        <div class="d-flex">
            <div class="add-product__images slider">
                <div class="add-product__image-actions">
                    <div class="add-product__image-action">
                        <a href="#"><i class="fas fa-plus-square"></i></a>
                        <a href="#"><i class="fas fa-edit"></i></a>
                        <a href="#"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <div class="slider__items">
                    @if (Model.Product != null)
                    {
                        <div class="col-8">
                            <img src="@("~/Images/" + Model.Product.ImageName)" asp-append-version="true" style="border: 1px solid #C0C0C0; max-width:500px; max-height:500px;">
                        </div>
                    }
                    else
                    {<div class="slider__item active" style="background-image: url(img/products/product-grey-7.jpg)"></div>}
                </div>
            </div>
            <div class="add-product__data">
                <div class="form-controls">
                    <section>

                        @if (Model.Product != null)
                        {
                            <input asp-for="Product.Id" type="hidden" />
                        }

                        <div class="form-group">
                            <label asp-for="Product.Name"> </label>
                            <input asp-for="Product.Name" class="form-control" />
                            <span asp-validation-for="Product.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.FK_Category_Id"> </label>
                            <select asp-for="Product.FK_Category_Id" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name)) " class="form-control">
                                <option value=""></option>
                            </select>
                            <span asp-validation-for="Product.FK_Category_Id" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.Details"> </label>
                            <input asp-for="Product.Details" class="form-control" />
                            <span asp-validation-for="Product.Details" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.Price"> </label>
                            <input asp-for="Product.Price" class="form-control" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Product.Sale"> </label>
                            <input asp-for="Product.Sale" class="form-control">
                            <span asp-validation-for="Product.Sale" class="text-danger"></span>
                        </div>
                        @if (Model.Product != null)
                        {
                            <div class="form-group">
                                <label asp-for="Product.ImageName"> </label>
                                <input asp-for="Product.ImageName" class="form-control" />
                            </div>
                        }
                        <div class="form-group">
                            <label asp-for="Product.ImageFile"> </label>
                            <input asp-for="Product.ImageFile" accept="image/*">
                            <span asp-validation-for="Product.ImageFile" class="text-danger"></span>
                        </div>
                    </section>
                    <div class="taged-textbox form-group">
                        <label class="taged-textbox__lable" for="">Tags</label>
                        <div class="taged-textbox__data">
                            <div class="taged-textbox__tags">
                                <div class="taged-textbox__tag">
                                    <span>tag1</span><a href="#" class="taged-textbox__remove">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                                <div class="taged-textbox__tag">
                                    <span>tag2</span><a href="#" class="taged-textbox__remove">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                                <div class="taged-textbox__tag">
                                    <span>tag3</span><a href="#" class="taged-textbox__remove">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                                <div class="taged-textbox__tag">
                                    <span>tag4</span><a href="#" class="taged-textbox__remove">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                                <div class="taged-textbox__tag">
                                    <span>tag5</span><a href="#" class="taged-textbox__remove">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                                <div class="taged-textbox__tag">
                                    <span>tag6</span><a href="#" class="taged-textbox__remove">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                                <div class="taged-textbox__tag">
                                    <span>tag7</span><a href="#" class="taged-textbox__remove">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                                <div class="taged-textbox__tag">
                                    <span>tag8</span><a href="#" class="taged-textbox__remove">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                                <div class="taged-textbox__tag">
                                    <span>tag9</span><a href="#" class="taged-textbox__remove">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                                <div class="taged-textbox__tag">
                                    <span>tag10</span><a class="taged-textbox__remove">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="taged-textbox__clear">
                                <a href="#"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                        <input class="taged-textbox__textbox form-control" type="text" name="" id="">
                    </div>

                    <div class="add-product__actions">
                        <input type="submit" value=@Action class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-light">Back to products list</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{<partial name="_ValidationScriptsPartial">
}
