@{
    ViewData["Title"] = "About Us";
}

<div class="container justify-content-md-center">
    <div class="row justify-content-md-center">
        <div class="mbr-white col-md-15">
            <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-4">MEET OUR TEAM</h3>
            <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">Marwa Mohamed Salama</h1>
            <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">Ibrahim Mohamed Saad</h1>

            <div class="mbr-section-btn align-center">
                <a class="btn btn-md btn-black-outline display-3" asp-controller="Home" asp-action="ContactUs">
                    CONTACT US
                </a>
            </div>
        </div>
    </div>

</div>
