@using Microsoft.AspNetCore.Identity
@using FinalProject.Models.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul id="loginList" class="navbar-nav">
    @if (!SignInManager.IsSignedIn(User))
    {
        <li id="loginitems" class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li id="loginitems" class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>

        </li>
    }
</ul>
